<div id="wrapper">
    <div class="hoja">InferVision</div>
    <canvas id="myCanvas" resize></canvas>
    <div class="button_container">
        <a id='next_button' class="button turquoise"><span>✓</span>Next Challenge</a>
    </div>

    <div class="button_container">
        <a id='display_button' class="button turquoise"><span>✓</span>Display Scoreboard</a>
    </div>

    <div class="container" id="form_container">
        <form id="contact" action="/" method="post">
            <h3>Leave Your Contacts</h3>
            <h4>Contact us for the best AI solution for lung cancer detection!</h4>
            <fieldset>
                <input placeholder="Your name" type="text" name="name" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" name="email" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Phone Number (optional)" name="phone" type="tel" tabindex="3" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your message here...." name="message" tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/css/hoja.css">
<link rel="stylesheet" href="/css/container.css">
<script type="text/javascript" src="/paper/paper-core.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.21/p5.min.js'></script>-->
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.3/dat.gui.min.js'></script>-->
<!--<script src="js/curves.js"></script>-->
<!--<link rel="stylesheet" href="css/curve.css">-->
